<%-include("partials/header")-%> 
<div class="textWraper">
  <h1>Home</h1>
  <p ><%= ipsum %> </p>
  <% posts.forEach(post => {%>
    <h1><%=post.title%></h1>
    <p><%=post.postBody.substring(0,100)+"..."%><a href="/posts/<%=post.title%>">Read more</a> </p> 
  <%}) %> 
  
</div>

<%-include("partials/footer")-%> 